


.Unselected_sub {
    -fx-background-color: #87a5d4;
     -fx-alignment:center;



}
.Unselected_sub:hover {
    -fx-background-color:#BAD0D6;



}

.Selected_sub {
    -fx-background-color:#BAD0D6;
    -fx-alignment:center;




}